@import url(http://weloveiconfonts.com/api/?family=brandico);


/*HEADER-----------------------------------------------------*/
header{
  background-color: #FFFFFF;
}
img.logo{
  margin-top: 10px;
}
a.button{
  margin-top: 20px;
}
/*BOTONES  DE REDES SOCIALES*------------------------------*/
/* brandico */
[class*="brandico-"]:before {
  font-family: 'brandico', sans-serif;
}

ul.social-buttons {
  text-align: center;
  margin-top: 20px;
}

ul.social-buttons li {
  display: inline-block;
  margin: 0 2px;
}

ul.social-buttons li a {
  width: 40px;
  height: 40px;
  display: block;
  border-radius: 50px;
  text-decoration: none;
  font-size: 20px;
  line-height: 38px;
  color: white;
}

ul.social-buttons li a.brandico-twitter-bird {
  background-color: #4099FF;
}

ul.social-buttons li a.brandico-facebook {
  background-color: #3B5998;
}

ul.social-buttons li a.brandico-instagram {
  background-color: #3f729b;
}
ul.social-buttons li a.brandico-linkedin {
  background-color: #0e76a8;
}

ul#demo1 li a {
  transition: transform 0.5s ease-in-out;
}

ul#demo1 li:hover a {
  transform: rotateX(180deg) rotateY(180deg) rotateZ(180deg);
}
/*FIN DE BOTONES DE REDES SOCIALES----------------------------------*/

/*NAVBAR*/
nav.navbar-principal{
  background-color: #004165;
  margin-bottom: 0px;
}

#navbar-menu{
background-color: #004165;
}
.navbar-item a{
  padding-right: 100px;
  padding-left: 0px;
  color: #ffffff;
  display: block;
}
#item:hover{background:#007ac5;}
